*{
     margin: 0 0; 
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4{
     font-weight: normal;
}
 body#index{
background: rgb(247, 255, 249);   
}

 header#index{
     height:80px;
     background: white;
}
 header#index img{
     width:80px; 
    float:right;
    margin-right: 8.915304606240713%/*120px;*/
}
 header#index span{
      margin-right:20px;
    float:right;
    margin-top:25px;
    font-size: 20px;
}
 header#index a{
    text-decoration: none;
    color: #484848;
    margin:0px 15px;
    font-size:14px;
    font-weight: 400;
        
}
#index .signIn{
 color:white;
background: #37a2ac;
    padding: 9px 16px;
    border-radius: 18px;
    font-size: 12px;
}
#index nav{
     float:left;
    margin-left: 11.14413075780089%;/*150px;*/
    font-size:16px;
    margin-top: 27px;
}
.intro#index {
     background: #37a2ac;
   display: block;
    float:left;
    width: 100%;
    padding: 56px 0px;
   
}
#index .item{
     width: 700px; 
     float:left;
     background: #37a2ac;
    margin-bottom: 20px;
}
#index .item img{
     margin:10px auto;
    width:100%;
    height: auto;
    overflow: hidden;
}
#index .item a{
     text-decoration: none;
    color:darkslategrey;
}
#index .content-slider h3 {
    margin: 0;        
    padding: 10px 0;
    font-size:20px;
    font-weight: 400;
		}
#index .leftIntro{
 padding:30px 50px; 
     background: #37a2ac;
}
#index .item p{
    margin-bottom: 15px;   
    
}
#index .item span{
     font-size: 20px;   
}
#index .rightIntro{
     float: left;
     width:37.14710252600297%;
   max-width:500px;
    margin-left:20px;
     background: #37a2ac;
    color:white;
    margin-top: -20px;
    text-align:right;
}
#index .rightIntro h2{
     margin-bottom: 20px; 
    font-size:27px;
}
#index .rightIntro p{
     font-size:20px; 
    font-weight: 300;
}
#index .rightIntro a{
 margin-top: 20px;
    float:right;
    text-decoration: none;
}
#index .seeCourses{
     font-size:17px;
    color:white;
    background: #1e7077;
    border-radius: 20px;
    padding:8px 40px;
    
}
#index a.becomeTutor{
 margin-right: 10px;
    text-decoration: underline;
    color: white;
    font-size:17px;
    padding: 8px 10px;
}
 .main#index h1{
 text-align:  center;
    margin-top: 35px;
    margin-bottom: 35px;
    float:left;
    width: 100%;
}
#index #rightSlide{
	float:right;
	height:100%;
	background:white;
	display:inline-block;
	background:rgb(247, 255, 249);
		padding-top:100px;
	}
#index	#leftSlide{
	float:left;
	height:100%;
	max-width:100%;
	background:rgb(247, 255, 249);
	display:inline-block;

	}
	#index #leftSlide img{
	float:left;
	width:300px;
	}
	#index #leftSlide content{
	float:left;
	display:inline-block;
	color:black;
	font-size:22px;
	font-weight: 300;
	background:white;
	border-radius:3px;
	border:1px solid rgb(233, 233, 234);
	width:300px;
	text-align:center;
	padding:10px 15px;
	}
	#index #rightSlide img{
	float:right;
	padding-right:80px;
	}
	#index #rightSlide content{
	float:right;
	display:inline-block;
	color:black;
	font-size:22px;
        font-weight: 300;
	background:white;
	border-radius:3px;
	border:1px solid rgb(233, 233, 234);
	width:300px;
	text-align:center;
	padding:10px 15px;
	}
	#index #leftSlide1{
	float:left;
	height:100%;
	max-width:100%;
	background:rgb(247, 255, 249);
	display:inline-block;
	padding-top:100px;

	}
	#index #leftSlide1 img{
	float:left;
	padding-left:180px;
	}
	#index #leftSlide1 content{
	float:left;
	display:inline-block;
	color:black;
	font-size:22px;
	font-weight: 300;
	background:white;
	border-radius:3px;
	border:1px solid rgb(233, 233, 234);
	width:300px;
	text-align:center;
	padding:10px 15px;
	}
	#index	#leftSlide2{
	float:left;
	height:100%;
	background:rgb(247, 255, 249);
	display:inline-block;
	padding-left:29.71768202080238%;/*400px;*/

	}
	#index #leftSlide2 img{
	float:left;
	width:150px;
	padding-left:30px;
	}
	#index #leftSlide2 content{
	float:left;
	display:inline-block;
	color:black;
	font-size:22px;
	font-weight: 300;
	background:white;
	border-radius:3px;
	border:1px solid rgb(233, 233, 234);
	width:300px;
	text-align:center;
	padding:10px 15px;
	}
	#index #leftSlide2 span{
	color:#43cdc0;
	font-style:none;
	font-size:24px;
	}
footer{
     float:left;
    display: block;
    width:100%;
    color:#d0d0d0;
    background: #08727c;
    margin-top:40px;
}
footer a{
 color: #d0d0d0;   
    text-decoration: none;
}
.leftFooter{
 float:left;
    margin-left:16.66666666666667%;/*100px*/
    width:44.57652303120357%;
    max-width:600px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    border-right: 1px solid #aaadaf;
}
.firstBlock{
      float:left;
    width:200px;
    margin-right: 20px;
}
.secondBlock{
 float:left;  
 
}
.rightFooter{
 float:left;
 width:37.14710252600297%;
    max-width:500px;
}
.rights{
 float:left;
    width: 100%;
    margin-top: 10px;
    font-size:14px;
}
footer h4{
     font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    color:#f0f0f0;
}

footer img{
     width:100px;
    float:left;
    padding: 0px 16px;
}
footer span{
     font-size:20px;
    float:left;
    margin-top: 30px;
}
.logoDiv{
 width:100%;   
    float: left;
    padding-left: 10%;
}
.rightFooter p{
 float:left;
    margin-left: 50px;
    font-size:20px;
    font-weight: 300;
    max-width:300px;
    width:60%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color:#37a2ac; 
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*


#reg .logo {
    text-align: center;
    color: darkgray;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    font-weight: 300;
    width: 400px;
    clear: both;
    margin-top: 100px;
    padding-left: 10px;
    
}
#reg .logo img{
    width:80px;
    float: left;
    display: block;
   
        
}
#reg .logo span{
  display: block;
    float: left;
     margin-top: 15px;
    padding:0 10px;
}
#reg .tut{
 margin-left:-10px;   
}

#reg .reg-form{

    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width:500px;
    border:none;
}
#reg .reg-fieldset{
     border: none; 
    margin: 0 auto;
    min-width: 500px;
}

#reg .conf-fiedset{
	padding-top:20px;
}

#reg input{
 width:270px;
    float: left;
    height: 30px;
    margin-top:10px;
    margin-right:-6px;
    border: 1px solid #d8d7d7;
    padding-left: 7px;
    padding-right: -15px;
    font-size: 17px;
    
    
}
#reg input:focus{
 box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  border: 1px solid rgba(81, 203, 238, 1);
}
#reg label{
     font-size: 18px;
    padding:5px 10px;
    margin-top:12px;
    float:left;
}
#reg .createAc{
 width:270px;
    float: left;
}
#reg button{
 display: block;
    margin: 0 auto;
    width:210px;
    padding: 9px 0;
    border:none;
    background: #37a2ac;
    color:white;
    border-radius: 17px;
    font-size:16px;
    font-weight: 400;
}
#reg form a{   
   width: 100%;
    float: left;
    text-align: center;
    color:#607D8B;
    font-size: 14px;
    margin-top: 10px;
}
#reg form a:after{
     content: "";
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("../images/facebook3.png");
    position: absolute;
    margin-left:5px;
    margin-top: -3px;
    display: inline-block;
    
}
#reg #pasRecovery{
 float:left;
 font-size: 12px;
     text-align: left;
    text-decoration: none;
    color: gray;
    margin-bottom:15px;
}
#reg #pasRecovery:after{
    content:"";
    background-image: none;
   
    
}
#reg #pasRecovery:before{
    content: "";
   width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-image: url("../images/questions1.png");
    margin-left: 10px;
    margin-right: 5px;
    display: block;
    float: left;
      
}
#reg #pasRecovery:hover{
     text-decoration: underline;
}
*/
@media only screen and (max-width : 1245px){
	#index .item{
		width:600px;
	}	
	
	#index .rightIntro p{
		font-size:120%;
	}
	#index .content-slider h3{
		font-size:1.2em;
	}
	#index .item p{
		font-size:15px;
	}
	#index .item span{
		font-size:18px;
	}
	#index .seeCourses{
		font-size:16px;
	}
	#index a.becomeTutor{
		font-size:16px;
		padding: 8px 3px;
	}
	
}
@media only screen and (max-width : 1095px){
		#index .item {
    		width: 500px;
	}
	#index .rightIntro p{
		font-size:110%;
	}
	#index .content-slider h3{
		font-size:1.1em;
	}
	#index .item p{
		font-size:14px;
	}
	#index .item span{
		font-size:17px;
	}
	#index .seeCourses{
		font-size:15px;
		padding: 8px 18px;
	}
	#index a.becomeTutor{
		font-size:15px;
		padding: 8px 1px;
	}
}
@media only screen and (max-width : 940px){
		#index .item{
			width:100%;
			float:none;
			margin: 0 auto;
		}
		#index .rightIntro{
			width:80%;
			margin:0 auto;
			float:none;
		}
			#index .content-slider h3{
		font-size:1.2em;
	}
	#index .item p{
		font-size:100%;
	}
	#index .item span{
		font-size:120%;
	}
	#index .seeCourses{
		font-size:110%;
		padding: 8px 35px;
	}
	#index a.becomeTutor{
		font-size:110%;
		padding: 8px 1px;
	}
		
	}
	@media only screen and (max-width : 786px){
		footer span{
			display:none;
		}
		#index	#leftSlide2{
			padding-left:10%;
		}
		#index #leftSlide img{
			width:250px;
		}
		#index #leftSlide content,
		#index #rightSlide content ,
		#index #leftSlide1 content,
		#index #leftSlide2  content{
			font-size:20px;
			width:32.28826151560178%;
		}
		#index #rightSlide img ,
		#index #leftSlide1 img,
		#index #leftSlide2  img{
			width:100px;
		}
		#index #leftSlide1 img{
			padding-left:13.37295690936107%;
		}
		
	}
	@media only screen and (max-width : 660px){
		#index .signIn{
		 padding: 9px 16px;
		 font-size: 11px;
}
#index nav{
    font-size:16px;
    margin-top: 27px;
}
header#index img {
    width: 60px;
    float: left;
    margin-left: 8.915304606240713%/*120px;*/;
    margin-top:10px;
}
header#index span {
    margin-left: 20px;
    float: left;
    margin-top: 28px;
    font-size: 16px;
}
header#index a{
	margin: 0px 6px;
}
	}
	
	@media only screen and (max-width : 550px){
		header#index span{
			display:none;
		}
		#index #leftSlide content,
		#index #rightSlide content ,
		#index #leftSlide1 content,
		#index #leftSlide2  content{
			font-size:16px;
			width:35%;
		}
		#index #leftSlide img{
			width:200px;
		}
		#index #leftSlide2 span{
			font-size:18px;
		}
	}